:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #2196f3;

  --black-text: #212121;
  --grey-text: #757575;
  --grey-text-op60: rgba(255, 255, 255, 0.6);

  --background-dark: #2f303a;
  --background-light: #f5f4fa;

  --border-color-header: #ececec;
  --border-color-project: #eeeeee;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--white);
  color: var(--black-text);

  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

h1 {
  color: var(--white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 200px;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

p {
  font-weight: 400;
  color: var(--grey-text);
}

img {
  display: block;
  max-width: 100%;
}

header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--border-color-header);
}

footer {
  background-color: var(--background-dark);
  color: var(--white);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Стилі для лого */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--blue);
}

.logo-white {
  color: var(--white);
}

.logo-black {
  color: var(--black);
}

/* Стилі загальних контейнерів */

.container {
  width: 1200px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}

.header,
.activity,
.benefits,
.header-nav,
.list-nav,
.team,
.header-contacts,
.button-list,
.projects {
  display: flex;
}

/* Стилі для хедера */

.header {
  justify-content: space-between;
}

.list-nav {
  margin-left: 93px;
}

.list-nav li {
  margin-right: 50px;
}

.list-nav li:last-child {
  margin-right: 0px;
}

.header,
.header-nav {
  align-items: center;
}

.header-nav .logo {
  padding: 24px 0 25px;
}

.header-nav li a {
  display: inline-block;
  padding: 17px 0px;
  text-decoration: none;
  color: inherit;
}

.header-nav li a:hover,
.header-nav li a:focus,
.header-contacts a:hover,
.header-contacts a:focus {
  color: var(--blue);
}

.header-contacts a {
  display: inline-block;
  padding: 17px 0px;
  text-decoration: none;
  color: var(--grey-text);
}

.header-contacts li:not(:last-child) {
  margin-right: 50px;
}

/* Стилі Футера */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer address {
  margin-top: 20px;
}

.footer ul {
  margin-top: 9px;
}

.footer ul :not(:first-child) {
  margin-top: 9px;
}

.footer-contacts {
  text-decoration: none;
  color: var(--grey-text-op60);
}

/* Додаткові стилі */

.section-light {
  background-color: var(--background-light);
}

.section-dark {
  background-color: var(--background-dark);
}

.list-nav .current {
  color: var(--blue);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
